
@{
    ViewData["Title"] = "Index";
}

<button onclick="location.href = 'https://localhost:7123';">Home</button>

<div class="topnav">

    <!-- Centered link -->
    <div class="topnav-centered">
        <a href="#Monday" class="active">Monday</a>
        <a href="#Tuesday" class="active">Tuesday</a>
        <a href="#Wednesday" class="active">Wednesday</a>
        <a href="#Thursday" class="active">Thursday</a>
        <a href="#Friday" class="active">Friday</a>
        <a href="#Saturday" class="active">Saturday</a>
        <a href="#Sunday" class="active">Sunday</a>
    </div>


</div>