@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <button onclick="location.href = 'https://localhost:7123/MuscleGroup';">Muscle Groups</button>
    <button onclick="location.href = 'https://localhost:7123/Settings';">Settings</button>
    <button onclick="location.href = 'https://localhost:7123/Exercise';">Exercise</button>
    <button onclick="location.href = 'https://localhost:7123/Workout';">Workout Plan</button>

</div>